th{
    background-color: blue;
}
.demo1{
    background-color: blueviolet;
}
.demo2{
background-color: burlywood;
}
.demo3{
    background-color: chartreuse;
}
.demo4{
    background-color: cyan;
}
.demo5{
    background-color: deepskyblue;
}
.demo6{
    background-color: yellow;
}