.body {
    background-color: black;
    color: white;
    margin: 0;
}

.footer {
    max-width: 1250px;
    margin: auto;
    overflow: hidden;
}

.inner-footer {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.width_30 {
    width: 40%;
    float: left;
}

.width_70 {
    width: 60%;
    float: left;
}

.width30-text {
    margin-bottom: 15px;
    font-weight: bold;
}

.h3 {
    margin-top: 35px;
}

.outer-div {
    max-width: 1250px;
    margin: 60px auto 0 auto;
    border-top: 2px solid gray;

}

.div {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

.inner-div {
    float: left;
    padding-right: 80px;
}

.last-one {
    max-width: 1250px;
    margin: 20px auto;
    border-top: 2px solid gray;
}

.width-30 {
    width: 30%;
    float: left;
}

.width-45 {
    width: 45%;
    float: left;
}

.width-25 {
    width: 25%;
    float: left;
}

.logo-img {
    width: 30px;
    padding: 10px;
}

.select {
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid red;
}