.body {
    background-color: beige;
}
.nav {
    background-color: forestgreen;
    padding: 30px;
    border: 10px;
    text-align: center;
}
.product .product1 {
    display: none;
    background-color: honeydew;
    width: 150px;
    position: absolute;
}
.product:hover .product1 {
    display: block;
}
.product-list {
    margin: 30px;
    border: 1px solid gainsboro;
    padding: 10px;
}
.main {
    margin: 30px 0;
    overflow: hidden;
    border: 2px solid red;
    padding: 15px;
    position: relative;
}
.img-text {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 15px;
}
.img {
    z-index: 1;
    background-color: gold;
    opacity: 60%;
}
