.body {
    margin: 0;
}

.header,
.bottom-header {
    max-width: 1400px;
    margin: auto;
    background-color: #00095B;
    overflow: hidden;
    color: white;
    padding: 20px;
}

.top-header,
.inner-header {
    max-width: 1250px;
    margin: auto;
    overflow: hidden;

}

.width-16 {
    width: 16.66%;
    float: left;
    box-sizing: border-box;
}
.h4 {
    color: grey;
}

.bottom-header {
    border-top: 2px solid gray;
    overflow: hidden;
}
.border {
    border-left: 1px solid grey;
}
.border_margin {
    margin-left: 10px;
}
.img-div {
    float: left;
    margin-right: 70px;
}
.img1 {
    float: left;
    padding: 5px;
}
.img {
    width: 20px;
}