.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.footer {
    background-color: whitesmoke;
}

.footer1 {
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    color: #00095B;
}

.inner-div {
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.inner-text {
    margin-bottom: 10px;
}

.img1 {
    width: 20px;
    vertical-align: middle;
}

.text {
    margin-top: 59px;
}

.logo {
    width: 30px;
    vertical-align: middle;
}

.inner-footer {
    max-width: 1500px;
    margin: auto;
    background-color: #00095B;
    color: white;
    overflow: hidden;
    padding: 15px;
    margin-top: 30px;
}

.inner-div2 {
    float: left;
    padding: 15px;
}

.inner-one {
    padding-left: 0;
}

.inner-div2_text {
    float: left;
}

.upper-arrow {
    float: right;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px 10px;
}

.arrow {
    font-size: larger;
    font-weight: bolder;
}