header{
    background-color: cyan;
    overflow: hidden;
}
.logo{
    float: left;
    width: 150px;
    height: 150px;
}
nav{
    background-color: beige;
    overflow: hidden;
    text-align: center;
}
nav li{
   display: inline-block; 
   width: 24%;
}