.body {
    background-color: darkolivegreen;
    margin: 0px;
}

.header {
    background-color: darkcyan;
    overflow: hidden;
    padding: 15px;
    border-bottom: 2px solid black;
}

.logo {
    float: left;
}

.company-logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.search {
    float: right;
}

.search:hover {
    color: lightgreen;
}

.nav {
    background-color: chartreuse;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    border-bottom: 2px solid black;
}

.nav-link {
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 20px;
}

.nav-link:hover {
    background-color: orange;
    color: paleturquoise;
}

.main {
    background-color: ghostwhite;
    padding: 30px 0;
    overflow: hidden;
}

.main-left {
    float: left;
    width: 25%;
}

.main-link {
    border-bottom: 2px solid violet;
    padding: 5px 10px;
}

.main-link:hover {
    background-color: darkgreen;
    color: azure;
}

.main-middle {
    float: left;
    width: 55%;
    text-align: center;
}

.banner {
    width: 100%;
    margin: 0 5px;
    border-radius: 20px;
}

.main-right {
    float: left;
    width: 20%;
    text-align: center;
}

.laptop {
    border: 2px solid greenyellow;
    width: 150px;
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;
}

.laptop:hover {
    background-color: cyan;
}

.laptop-img {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 5x solid blue;
    border-radius: 10px;

}

.footer {
    background-color: darkgoldenrod;
    text-align: center;
    padding: 8px;
}